<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Assets/Home/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Home/css/responsive.css" rel="stylesheet">
    <link href="~/Assets/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/Home/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Assets/Home/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/Home/css/animate.css" rel="stylesheet">
    <link href="~/Assets/Home/css/main.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/Assets/Home/js/jquery.js"></script>
    <script src="~/Assets/Home/js/bootstrap.min.js"></script>
    <script src="~/Assets/Home/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/Home/js/price-range.js"></script>
    <script src="~/Assets/Home/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/Home/js/main.js"></script>
</body>
</html>

