@model TestUngDung.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="images/favicon.png">

    <title>Login</title>

    <!--Core CSS -->
    <link href="~/Assets/Admin/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <link href="~/Assets/Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet">
    <link href="~/Assets/Admin/css/style-responsive.css" rel="stylesheet" />
    <style>
        body {
            background: #9a9aa8;
        }

        .form-signin {
            max-width: 600px;
        }

            .form-signin h2.form-signin-heading {
                background: #f4bcbd;
                border-bottom: #f4bcbd;
            }

            .form-signin .btn-login {
                background: #f4bcbd;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-signin">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <h2 class="col-8 form-signin-heading">LOGIN</h2>
                <div class="login-wrap">
                    <div class="user-login-info">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User Name", @autofocus = "autofocus" })
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @autofocus = "autofocus", @type = "password" })
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember password
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal">Forgot password?</a>

                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

                    <div class="registration">
                        <a class="" href="registration.html">
                            Create Account?
                        </a>
                    </div>
                </div>
                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Forgot Password ?</h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-success" type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->
            }
        </div>
    </div>
    <script src="~/Assets/Admin/js/jquery.js"></script>
    <script src="~/Assets/Admin/bs3/js/bootstrap.min.js"></script>
</body>
</html>
